<div class="row">
    <div class="container card-block" style="background-color: white;">
        <table class="table table-bordered table-striped">
            <tr><th>#</th><th>Ticket Series</th><th>Ticket Rate</th><th>Quantity</th><th>Amount</th></tr>
            <tr ng-repeat="dta in bal.rep">
                <td>{{$index+1}}</td>
                <td>{{dta.name}}</td>
                <td>{{dta.ticket_rate}}</td>
                <td>{{dta.qnty}}</td>
                <td>{{dta.amt}}</td>
            </tr>
        </table>
    </div>
    
</div>