/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2017, 11:02:07 AM
    Author     : user
*/
body{
    font-size: 16px ;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px 30px;
        
}
@media print and (-webkit-min-device-pixel-ratio:0)
            {
                .container {
								padding-left:185px;
								padding-right:185px;
							}
            }
@media screen and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/

    .container {
        padding-left:145px;
		padding-right:145px;
    }
}
 @media print
   {
      .print {
          margin-left: 10px;
      }
   }